# ==================== ANCHORS/TEMPLATES ====================
x-system-template: &system-template
  # runtime: nvidia
  working_dir: /workspace
  network_mode: host
  ipc: host
  restart: "no"
  stdin_open: true
  tty: true
  environment:
  - DISPLAY=${DISPLAY:-:0}
  - NVIDIA_VISIBLE_DEVICES=all
  - NVIDIA_DRIVER_CAPABILITIES=all
  - QT_X11_NO_MITSHM=1
  - DISABLE_ROS1_EOL_WARNINGS=1
  volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix:rw

x-x11-volume: &x11-volume
  /tmp/.X11-unix:/tmp/.X11-unix:rw

x-robot-bringup-volume: &robot-bringup-volume
  ./workspaces/ros1_launcher:/workspace/src/ros1_launcher:rw

x-recorded-data-volume: &recorded-data-volume
  ./data:/data:rw

x-catkin-build-template: &catkin-build-template
  <<: *system-template
  command: catkin build -DCMAKE_BUILD_TYPE=Release
  profiles: ["build"]

x-colcon-build-template: &colcon-build-template
  <<: *system-template
  command: colcon build --symlink-install --cmake-args -DCMAKE_BUILD_TYPE=Release #TODO number of cores, check config file in magpie for colcon defaults
  profiles: ["build"]

x-ros1-wait-for-roscore: &ros1-wait-for-roscore
  depends_on:
    ros1_launch_roscore:
      condition: service_healthy

x-ros1-launch-template: &ros1-launch-template
  <<: [*system-template, *ros1-wait-for-roscore]
  profiles: ["launch"]

x-ros2-launch-template: &ros2-launch-template
  <<: [*system-template]
  profiles: ["launch"]


services:
  .ros1-launch-base:  # Leading dot makes it a template (won't start)
    <<: *ros1-launch-template
    image: placeholder  # Will be overridden
    profiles: ["template"]
    volumes:
    - *robot-bringup-volume
    - *x11-volume

  .ros2-launch-base:
    <<: *ros2-launch-template
    image: placeholder
    profiles: ["template"]
    volumes:
    - *robot-bringup-volume
    - *x11-volume

  ros1_launch_roscore:
    <<: [*system-template]
    image: unified_autonomy:ros1_base
    profiles: ["launch"]
    command: roscore
    healthcheck:
      test: ["CMD-SHELL", "bash", "-c", "source /opt/ros/noetic/setup.bash && rostopic list || exit 1"]
      interval: 2s
      timeout: 2s
      retries: 5
      start_period: 3s